<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wearscript.record" >

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.wearscript.record.PlaybackActivity"
            android:label="@string/title_activity_play" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wearscript.record.RecordActivity"
            android:label="@string/title_activity_record" >
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.wearscript.record.WearScriptBroadcastReceiver">
            <intent-filter>
                <action android:name="com.wearscript.record.PLAYBACK"/>
                <action android:name="com.wearscript.record.RECORD" />
                <action android:name="com.wearscript.record.RECORD_RESULT" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.wearscript.record.AudioRecorder"
            android:enabled="true"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="com.wearscript.record.RECORD_AUDIO" />
                <action android:name="com.wearscript.record.SAVE_AUDIO" />
                <action android:name="com.wearscript.record.STOP_AUDIO" />
            </intent-filter>

        </service>


</application>

</manifest>
